import { Meta, Story } from '@storybook/react/types-6-0'

import {{pascalCase name}} from '.'

export default {
  title: '{{pascalCase name}}',
  component: {{pascalCase name}}
} as Meta

export const Basic: Storys = () => <{{pascalCase name}} />
