import { render, screen } from '@testing-library/react'

import {{pascalCase name}} from '.'

describe('<{{pascalCase name}} />', () => {
  it('should render the hediing', () => {
    const { container } = render(<{{pascalCase name}} />)

    expect(
      screen.getByRole('heading', { name: /{{pascalCase name}}/i })
    ).toBeInTheDocument()

    expect(container.firstChild).toMatchSnapshot() // esse cara é pra gerar o snapshot
  })

})
